@page


@{
    ViewData["Title"] = "StudentsNew";
}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">LDR</div>
            <div class="panel-body">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Employee Information</div>
            <div class="panel-body">
                <div>
                    <table id="tab"></table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Salary</th>
                                        <th>Create Date</th>
                                        <th>Designation</th>
                                    </tr>
                                </thead>
                                <tbody id="messagesTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Table.js"></script>
<script src="~/js/Chart.js"></script>
<script src="~/js/Main.js"></script>

